
    <h1>About the Developer</h1>
    <p >
        My name is Brian Tran and I am a student at Seneca College. 
        While studying programming I have worked on many projects, a few from earliest to newest are:<br/>
        
            <li>A library cataloguing system written in C++</li>
            <li>An online store using nodejs</li> 
            <li>An openGL game engine</li> 
            <li>A platform game in Unreal Engine</li> 
            <li>A react app for restaurant locations in New York. </li>
            <li>And of course this angular app for a spotify UI. </li>
        Hopefully I get to work on many more interesting projects in the future.
    </p>


